<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Editor</title>
    <style>
        body {
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <a href="url_created/" style="font-size: 25px; ">View Url</a>
    <h1>URL Editor</h1>
    <form action="create_short_url" method="POST">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td><label>URL</label></td>
                    <td><input type="text" name="url"></td>
                </tr>
                <tr>
                    <td><button>Submit</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>